@using System.Web.Mvc.Html;

@model Cima.Models.MenuItem

<div data-container-for="MenuParentId" class="k-edit-field">
    @Html.Kendo().DropDownListFor(model => model.MenuParentId).OptionLabel("Choose Menu Parent").HtmlAttributes(new { style = "width:400px" }).DataTextField("Name").DataValueField("MenuId").ValuePrimitive(true).DataSource(ds =>
    {
        ds.Read(r =>
        {
            
                r.Action("PopulateMenusDropDownList", "MenuItem");
    });
})

    @(Html.EditorFor(m => m.MenuParentId))     
</div>
