@model IEnumerable<Cima.Models.UploadingFile>
@{
    ViewBag.Title = "Upload Files";
}

<!-- upload files to landing -->
<div class="row">

    <div id="example" ng-app="UploadFile" class="col-md-12 col-sm-12 col-xs-12">


        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="http://www.cima-afrique.org/pg.php?caller=cima" target="_blank">Cima</a></li>
                <li class="breadcrumb-item active" aria-current="page">Upload Files</li>
            </ol>
        </nav>

        <div id="success-alert" class="alert alert-success" style="display:none;color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6">
            <strong>Success!</strong> Le dépôt des fichiers s'est effectué avec succès.
        </div>

        <div id="danger-alert" class="alert alert-danger" style="display:none;color: #a94442;background-color: #f2dede;border-color: #ebccd1;">
            <strong>Erreur!</strong> Une erreur est survenue lors du dépôt des fichiers. Veuillez réessayer ou contactez votre DataSteward.
        </div>

        <div ng-controller="UploadFileController">
            <div style="margin-bottom:15px">
                <p>Sélectionnez une campagne : </p>
                <div>

                    <select id='selectedcampagne' class="form-control">
                        <option value="0_0">-- Sélectionnez une campagne --</option>
                        @foreach (var m in ViewBag.CampaignList)
                        {

                            <option value=@m.CampaignId> @m.LibelleCampagne</option>

                        }
                    </select>

                </div>
            </div>

            <div id="droptarget" kendo-droptarget k-drop="onDrop" class="k-header dashboard_graph x_panel">
                <div id="file-upload-outline" class="file-upload-outline">
                    <img src="~/Images/uploadFile.jpg" />
                    <h2 class="file-upload-text">Glissez-déposez vos fichiers ici pour les charger</h2>
                    <h2 class="file-upload-drop-text"> Déposez vos fichiers ici </h2>
                    <p class="file-upload-text">
                        <input type="file" id="fileselect" name="files[]" multiple class="manual-file-chooser" onchange="selectFiles(this.files);" /> Ou <a href="#" class="manual-file-chooser-text" ng-click="chooseFile();"> Choisissez vos fichiers</a>
                    </p>
                    <div class="file-upload-errors">
                        <p>  Erreur !!! </p>
                        <p> Veuillez charger un fichier avec extension ".PFN"  </p>
                    </div>
                </div>
            </div>

            <div class="file-upload-progress">
                <i class="fa fa-spinner fa-spin" style="font-size:24px"></i> <span style="vertical-align:text-bottom"> Chargement du(des) fichier(s) en cours ...</span>
            </div>

            <div class="file-wrap">
                <table id="filesList" class="files">
                    @{ if (Model != null)
                        {
                            <tbody>
                                @foreach (var file in Model)
                                {
                                    <tr>
                                        <td class="icon"><i class="fa fa-file"></i></td>
                                        <td>@file.FileName</td>
                                        <td class="actions"><i id="@file.FileName" class="fa fa-times" onclick="deleteFiles(this);"></i></td>
                                    </tr>
                                }
                            </tbody>
                        }

                    }
                </table>
            </div>



            <div id="bt-uploadfiles">
                <p>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#choixCampagneModal" style="color:white;font-weight:bold">
                        <span>Envoyer</span>  <i class="upload-spinner fa fa-spinner fa-pulse fa-3x fa-fw" style="font-size:1em;display:none"></i>
                    </button>
                    <kendo-button id="bt-cancel" ng-click="cancelUpload()" style="color:darkorange;font-weight:bold">Annuler <i class="cancel-spinner fa fa-spinner fa-pulse fa-3x fa-fw" style="font-size:1em;display:none"></i></kendo-button>
                </p>
            </div>
        </div>


        <style scoped>
            #droptarget {
                font-size: 18px;
                border-radius: 3px;
                text-align: center;
                margin-bottom: 0px;
                cursor: default;
                box-shadow: inset 0 0 10px rgba(27,31,35,.05);
            }

            .demo-section {
                width: 520px;
                position: relative;
                background: url(../content/web/dragdrop/drag-clue.png) no-repeat 155px 130px;
            }

            #exampleTitle {
                color: #000;
            }

            #draggable {
                display: none;
                top: 110px;
            }

            #bt-uploadfiles {
                float: right;
            }

            .manual-file-chooser {
                opacity: .0001;
                position: absolute;
            }

            .file-wrap {
                border: 1px solid #dfe2e5;
                border-top: 0;
                margin-bottom: 10px;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            .files {
                width: 100%;
                border-radius: 2px;
                background-color: #fafbfc;
            }

            table.files td {
                border-top: 1px solid #eaecef;
                padding: 6px 3px;
                line-height: 20px;
            }

                table.files td.icon {
                    color: rgba(3,47,98,.55);
                    width: 17px;
                    padding: 0px 2px 0px 10px;
                }

                table.files td.actions {
                    padding-right: 10px;
                    text-align: right;
                    width: 50px;
                    cursor: pointer;
                }

            .file-upload-outline {
                height: 94%;
                left: 1%;
                padding: 80px 0px;
                top: 3%;
            }

            .file-upload-outline-dropover {
                border: 6px dashed #ddd;
                border-radius: 5px;
            }

            .file-upload-text {
                margin-bottom: 5px;
            }

            .file-upload-drop-text {
                display: none;
                margin-bottom: 5px;
            }

            h2 {
                font-size: 24px;
            }

            #manual-file-chooser-text {
                cursor: pointer;
            }

            .file-upload-errors {
                display: none;
                color: red;
            }

            .file-upload-progress {
                display: none;
                background-color: #fafbfc;
                border: 1px solid #dfe2e5;
                border-top: 0;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                height: 40px;
                padding-top: 7px;
                padding-left: 7px;
            }
        </style>
    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="choixCampagneModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Récapitulatif des fichiers de campagne</h4>
            </div>
            <div class="modal-body">
                <div id="msg-warning"> Aucune campagne sélectionnée </div>
                <div id="listefichiers" class="row" style="display:none">
                    <div class="col-lg-4">
                        liste des fichiers attendus
                        <ul id="fichiersattendus">
                        </ul>
                    </div>

                    <div class="col-lg-4" ">
                        liste des fichiers envoyés
                        <ul id="fichiersenvoyes"></ul>
                    </div>

                    <div class="col-lg-4" ">
                        liste des fichiers restants
                        <ul id="fichiersrestants"></ul>
                    </div>
                </div>


            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button id="modal-loadbutton" type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmationChargementModal" disabled><span>Envoyer</span></button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal confirmation d'envoi des fichiers-->
<div class="modal fade" id="confirmationChargementModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation d'envoi des fichiers</h4>
            </div>
            <div class="modal-body">
                <span>Voulez-vous vraiment envoyer les fichiers sélectionnés? </span><br/>
                <span>Une fois envoyé, ils ne pourront plus être modifiés</span>
                <br /><br />
                <p>Cliquez sur Oui pour confirmer ou sur Non pour annuler</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                <button id="modal-loadbutton" type="button" class="btn btn-success" onclick="uploadFile()"><span>Oui</span></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /upload files to landing -->

<script>

   
    function uploadFile() {
        $('#confirmationChargementModal').modal('toggle');
        $('#choixCampagneModal').modal('toggle');
        
        $(".upload-spinner").show();
        value = $("#selectedcampagne").val();
        $.ajax({
            type: 'POST',
            url: '/UploadFile/SaveFileToLanding',
            data: JSON.stringify({ selectedCampaign: value }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (response) {               

                if (response != "FAILURE") {
                    $(".upload-spinner").hide();
                    $("#filesList").html('');
                    $("#danger-alert").hide();
                     $("#success-alert").fadeTo(2000, 500).fadeOut(500, function(){
                        $("#success-alert").fadeOut();
                     });

                } else {
                    $(".upload-spinner").hide();
                    $("#danger-alert").show();            
                }
            },
            failure: function (response) {
                alert("erreur uploading files");
                $("#danger-alert").show();
            }
        });
    }

    $("#selectedcampagne").change(function () {

        value = $("#selectedcampagne").val();

        if (value == "0_0") {
            $("#msg-warning").show();
            $("#listefichiers").hide();
            $("#modal-loadbutton").attr("disabled", true);
        } else {

            $("#msg-warning").hide();
            $("#listefichiers").show();
            $("#modal-loadbutton").attr("disabled", false);
            $.ajax({
                type: 'POST',
                url: '/UploadFile/GetCampaignReport',
                data: JSON.stringify({ selectedCampaign: value }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {

                    $("#filesList").html('');
                    var fichierstemporaires = response['fichiersTemporaires'];
                    $.each(fichierstemporaires, function (key, value) {
                        console.log("value: " + value.FileName);
                        $("#filesList").append('<tbody><tr>' +
                                               '<td class="icon"><i class="fa fa-file"></i></td>'+
                                               '<td class="name">'+ value.FileName  +'</td>'+
                                               '<td class="actions"><i id="' + value.FileName +'" class="fa fa-times" onclick="deleteFiles(this);"></i></td>'+
                                               '</tr></tbody>');
                    });

                    var fichiersattendus = response['fichiersAttendus'];
                    $("#fichiersattendus").html("");
                    $.each(fichiersattendus, function (key, value) {
                        $("#fichiersattendus").append('<li>' + value + '</li>');
                    });

                    var fichiersenvoyes = response['fichiersEnvoyes'];
                    $("#fichiersenvoyes").html("");
                    $.each(fichiersenvoyes, function (key, value) {
                        $("#fichiersenvoyes").append('<li>' + value + '</li>');
                    });

                    var fichiersrestants = response['fichiersRestants'];
                    $("#fichiersrestants").html("");
                    $.each(fichiersrestants, function (key, value) {
                        $("#fichiersrestants").append('<li>' + value + '</li>');
                    });

                },
                failure: function (response) {
                    alert("erreur uploading files");
                }
            });
        }


    })
</script>