@{
    ViewBag.Title = "DataColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des colonnes des rapports</h2>

<div class="k-toolbar k-grid-toolbar k-grid-top">
    @Html.ActionLink("Nouveau", "CreateDataColumnView", null, new { @class="datacolumn-ui k-button k-button-icontext k-grid-add" }).
</div>

<div class="row">

    <div id="menutable" style="width:100%; ">

    
            @(Html.Kendo().Grid<Cima.Models.TblDataColumn>()
            .Name("DataColumn")
            .Columns(columns =>
            {
                columns.Bound(dc => dc.DataColumnId).Title("Code");
                columns.Bound(dc => dc.Name).Title("Nom");
                columns.Bound(dc => dc.Datatype).Title("Type");
                columns.Bound(dc => dc.NumColumn).Title("Numéro de colonne");
                columns.ForeignKey(c => c.IdReport, (System.Collections.IEnumerable)ViewBag.Report, "IdReport", "ReportId").Title("Rapport");
                columns.Command(command => { command.Edit().Text("Modifier"); command.Destroy().Text("Supprimer"); }).Width(250).Title("Actions");
            })
                .HtmlAttributes(new { style = "height: 550px;" })
                .Scrollable()
                .Sortable()
                .Pageable(pageable => pageable
                    .Refresh(true)
                    .PageSizes(true)
                    .ButtonCount(5))
                .Editable(editable => editable.Mode(GridEditMode.PopUp))
                .DataSource(datasource => datasource
                    .Ajax()
                    .Model(model =>
                            {
                        model.Id(m => m.IdReport);
                        model.Field(m => m.DataColumnId).Editable(false);
                        })
                    .Read(read => read.Action("DataColumn_Read", "RuleBased"))
                    .Update(update => update.Action("Update", "RuleBased"))
                    .Destroy(update => update.Action("Delete_DataColumn", "RuleBased"))
                    .PageSize(20))
                 .AutoBind(true)
        )


    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $("a.datacolumn-ui")[0].innerHTML = '<span class="k-icon k-add"></span> Nouveau';
        });

        function onGridEdit(e) {
            if (e.model.isNew()) {
                e.container.kendoWindow("title", "Créer un menu");
                $("a.k-grid-update")[0].innerHTML = "<span class='k-icon k-update'></span>Enregistrer";
            } else {
                e.container.kendoWindow("title", "Modifier un menu");
                $("a.k-grid-update")[0].innerHTML = "<span class='k-icon k-update'></span>Modifier";
            }
        }
    </script>

</div>

<style>
#DataColumn .k-grid-header .k-header
{
       background-color: #428bca;
       border-color: #169F85; 
       
}

#DataColumn .k-grid-header .k-header a
{
     
       color: #fff;
}
</style>

