<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=aspnetdb;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="DWH_DS_CONNECTION_STRING" connectionString="Data Source = localhost;Initial Catalog = PFN_DWH;Persist Security Info=False; Integrated Security = SSPI" />
    <add name="SYSMAN_DS_CONNECTION" connectionString="Data Source = localhost;Initial Catalog = PFN_SYSMAN;Persist Security Info=False; Integrated Security = SSPI" />
    <add name="SBI_GRH_Connection" connectionString="Data Source=localhost;Catalog=SBI_GRH;Integrated Security=SSPI;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="enableSimpleMembership" value="true" />
    <add key="LandingPath" value="C:\Files\Pfn\Landing" />
    <add key="ReportServerUrl" value="http://localhost/ReportServer/" />
    <add key="ReportPath" value="/ReportDemo/report1" />
    <add key="Report_T1" value="/ReportDemo/rpt_DWH_T1" />
    <add key="Report_T2_IARD" value="/ReportDemo/rpt_DWH_T2_IARD" />
    <add key="Report_C4_S" value="/ReportDemo/rpt_DWH_C4_S" />
    <add key="Report_RS1" value="/ReportDemo/rpt_DWH_RS1" />
    <add key="Report_RS2_VIE" value="/ReportDemo/rpt_DWH_RS2_VIE" />
    <add key="Report_RS2_IARD" value="/ReportDemo/rpt_DWH_RS2_IARD" />
    <add key="Report_G1_G4" value="/ReportDemo/rpt_DWH_G1_G4" />
    <add key="Report_G10" value="/ReportDemo/rpt_DWH_G10" />
    <add key="Report_G11" value="/ReportDemo/rpt_DWH_G11" />
    <add key="Report_G15" value="/ReportDemo/rpt_DWH_G15" />
    <add key="Report_G16" value="/ReportDemo/rpt_DWH_G16" />
    <add key="Report_Bilan_IARD" value="/ReportDemo/rpt_DWH_Bilan_IARD" />
    <add key="Report_Bilan_VIE" value="/ReportDemo/rpt_DWH_Bilan_VIE" />
    <add key="Report_CEG_VIE" value="/ReportDemo/rpt_DWH_CEG_VIE" />
    <add key="Report_CEG_IARD" value="/ReportDemo/rpt_DWH_CEG_IARD" />
    <add key="Report_CGPP_IARD" value="/ReportDemo/rpt_DWH_CGPP_IARD" />
    <add key="Report_CGPP_VIE" value="/ReportDemo/rpt_DWH_CGPP_VIE" />
    <add key="Report_CRIA_IARD" value="/ReportDemo/rpt_DWH_CRIA_IARD" />
    <add key="Report_CRIA_VIE" value="/ReportDemo/rpt_DWH_CRIA_VIE" />
    <add key="Report_C1_IARD" value="/ReportDemo/rpt_DWH_C1_IARD" />
    <add key="Report_C1_VIE" value="/ReportDemo/rpt_DWH_C1_VIE" />
    <add key="Report_C4_IARD" value="/ReportDemo/rpt_DWH_C4_IARD" />
    <add key="Report_C4_VIE" value="/ReportDemo/rpt_DWH_C4_VIE" />
    <add key="Report_C5_VIE" value="/ReportDemo/rpt_DWH_C5_VIE" />
    <add key="Report_C5_IARD" value="/ReportDemo/rpt_DWH_C5_IARD" />
    <add key="Report_C9_VIE" value="/ReportDemo/rpt_DWH_C9_VIE" />
    <add key="Report_C9_IARD" value="/ReportDemo/rpt_DWH_C9_IARD" />
    <add key="Report_C26" value="/ReportDemo/rpt_DWH_C26" />
    <add key="Report_RA1" value="/ReportDemo/rpt_DWH_RA1" />
    <add key="Report_RA2" value="/ReportDemo/rpt_DWH_RA2" />
    <add key="Report_C10a_IARD" value="/ReportDemo/rpt_DWH_C10a_IARD" />
    <add key="Report_C10b_IARD" value="/ReportDemo/rpt_DWH_C10b_IARD" />
    <add key="Report_C10c_IARD" value="/ReportDemo/rpt_DWH_C10c_IARD" />
    <add key="Report_C10d_IARD" value="/ReportDemo/rpt_DWH_C10d_IARD" />
    <add key="Report_C10_TabA" value="/ReportDemo/rpt_DWH_C10_TabA" />
    <add key="Report_C10_TabB" value="/ReportDemo/rpt_DWH_C10_TabB" />
    <add key="Report_C11_VIE" value="/ReportDemo/rpt_DWH_C11_VIE" />
    <add key="Report_C11_IARD" value="/ReportDemo/rpt_DWH_C11_IARD" />
    <add key="Report_C20_VIE" value="/ReportDemo/rpt_DWH_C20_VIE" />
    <add key="Report_C21_VIE" value="/ReportDemo/rpt_DWH_C21_VIE" />
    <add key="Report_C25" value="/ReportDemo/rpt_DWH_C25" />
    <add key="Report_C25bis_TabA" value="/ReportDemo/rpt_DWH_C25bis_TabA" />
    <add key="Report_C25bis_TabB" value="/ReportDemo/rpt_DWH_C25bis_TabB" />
    <add key="Report_C26" value="/ReportDemo/rpt_DWH_C26" />
    <add key="Report_Micro_Ratio" value="/ReportDemo/rpt_DWH_Micro_Ratio" />
    <add key="Report_Micro_C1_VIE" value="/ReportDemo/rpt_DWH_Micro_C1_VIE" />
    <add key="Report_Micro_C1_NonVIE" value="/ReportDemo/rpt_DWH_Micro_C1_NonVIE" />
  </appSettings>
  <system.web>
    <!--<roleManager enabled="true" />-->
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" maxQueryStringLength="32768" maxUrlLength="65536" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
    <!--necessaire pour la configuration de la securité via l'outil d'administration web -->
    <!--<membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider"
             passwordFormat="Encrypted"
             type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             connectionStringName="Rascom_UserDB_Connection"
             enablePasswordRetrieval="true"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
            applicationName="/" />
      </providers>    
    </membership>

    <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <add connectionStringName="Rascom_UserDB_Connection" applicationName="/"
           name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </roleManager>-->
    <membership defaultProvider="SimpleMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" connectionStringName="Rascom_UserDB_Connection" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SimpleRoleProvider">
      <providers>
        <add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" connectionStringName="Rascom_UserDB_Connection" applicationName="/" />
      </providers>
    </roleManager>
    <!--<sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="Rascom_UserDB_Connection" />
      </providers>
    </sessionState>-->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="PublicWebsiteDbContext" />
      </providers>
    </sessionState>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="PublicWebsiteDbContext" applicationName="/" />
      </providers>
    </profile>
    
  <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers></system.web>

  
  
  <system.webServer>
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" /></handlers>
  <validation validateIntegratedModeConfiguration="false" /></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" />
        <bindingRedirect oldVersion="10.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" />
        <bindingRedirect oldVersion="10.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>